/* stylelint-disable font-family-name-quotes */
* {
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
}

.feedback-content {
  background-color: #e2e2e2;
  height: 100vh;
}

.feedback-card {
  background-color: #0c0618;
  border-radius: 25px;
  box-shadow: 5px 5px 10px #222121;
  height: 700px;
  margin: 75px auto;
  width: 500px;
}

.feedback-text {
  font-family: 'Montserrat' , sans-serif;
  font-size: 35px;
  font-weight: 700;
  padding: 30px 0;
  text-align: center;
}

.feedback-image {
  margin: 0 125px;
  width: 250px;
}

.score {
  align-items: center;
  border: 3px solid #e2e2e2;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Montserrat' , sans-serif;
  font-size: 20px;
  font-weight: 500;
  height: 200px;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 200px;
}

.button-play-again, .button-ranking {
  background-color: #e2e2e2;
  border: none;
  border-radius: 5px;
  color: #282c34;
  cursor: pointer;
  font-family: 'Montserrat' , sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin: 30px 0;
  padding: 3px 6px;
  width: 100px;
}
