/* stylelint-disable font-family-name-quotes */
.form-login {
  align-items: center;
  background: #0c0618;
  border-radius: 20px;
  box-shadow: 9px 9px 8px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-flow: nowrap column;
  font-family: 'Montserrat' , sans-serif;
  font-weight: 500;
  height: 295px;
  justify-content: space-evenly;
  width: 312px;
}

.input-name, .input-email {
  align-items: flex-start;
  display: flex;
  flex-flow: nowrap column;
}

.input-name input, .input-email input {
  background-color: rgb(202, 206, 218);
  border: none;
  border-radius: 5px;
  color: black;
  padding: 5px 10px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.button-play, .button-settings {
  background-color: rgb(202, 206, 218);
  border: none;
  border-radius: 5px;
  color: #282c34;
  cursor: pointer;
  font-family: 'Montserrat' , sans-serif;
  font-weight: 600;
  padding: 3px 6px;
  width: 70px;
}
