/* stylelint-disable font-family-name-quotes */
.settings-card {
  backdrop-filter: blur(10px);
  background-color: rgba(128, 128, 128, 0.1);
  border: 1px solid rgb(75, 75, 75);
  border-radius: 20px;
  height: 600px;
  padding-top: 30px;
  position: absolute;
  top: 240px;
  width: 500px;
}

.settings-card h2 {
  color: #e2e2e2;
  font-family: 'Montserrat' , sans-serif;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 30px;
}

.config-card {
  background-color: rgba(69, 76, 92, 0.9);
  border-radius: 15px;
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
  height: 400px;
  margin: 0 auto;
  padding: 25px 30px 0;
  width: 350px;
}

.input-category, .input-type, .input-diff {
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Montserrat' , sans-serif;
  font-size: 20px;
  font-weight: 600;
  gap: 10px;
  text-align: left;
}

label select {
  border: none;
  border-radius: 5px;
  color: black;
  font-family: 'Montserrat' , sans-serif;
  font-size: 14px;
  height: 35px;
  padding: 0 10px;
}

option {
  color: black;
}

.button {
  align-self: center;
  border: none;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  font-family: 'Montserrat' , sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  padding: 3px 7px;
  width: 75px;
}
