/* stylelint-disable font-family-name-quotes */
.header-game {
  align-items: center;
  background-color: #100720;
  display: flex;
  height: 100px;
  justify-content: space-around;
}

.logo-header {
  height: 60px;
}

.logo-2 {
  height: 100%;
}

.perfil-header {
  align-items: center;
  display: flex;
  gap: 20px;
}

.perfil-info {
  align-items: center;
  display: flex;
  gap: 10px;
}

.img-header {
  border: 2px solid white;
  border-radius: 50%;
  width: 50px;
}

.name-header {
  color: white;
  font-family: 'Montserrat' , sans-serif;
}

.score-header {
  color: white;
  font-family: 'Montserrat' , sans-serif;
}
