/* stylelint-disable font-family-name-quotes */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.question-content {
  background-color: #25253B;
  border-radius: 25px;
  box-shadow: 5px 5px 10px #222121;
  height: 700px;
  margin: 75px auto;
  width: 500px;
}

.timer, .category, .question-text {
  color: white;
  font-family: 'Montserrat' , sans-serif;
  font-weight: 500;
}

.timer {
  background-color: #0c0618;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  height: 50px;
  margin: 0;
  padding-top: 15px;
  text-align: center;
  width: 100%;
}

.category {
  background-color: #E2E2E2;
  border-radius: 7px;
  color: #0c0618;
  font-weight: 600;
  margin: 50px;
  padding: 3px 7px;
}

.question-text {
  font-size: 25px;
  font-weight: 400;
  padding: 10px 30px 30px;
  text-align: center;
}

.header-question-card {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
}

.answer-options {
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  padding: 0 10px;
}

.button-answer {
  background-color: transparent;
  border: 3px solid #E2E2E2;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  margin: 0 5px;
  padding: 8px;
}

.button-next {
  margin-top: 30px;
}

.correct-answer {
  background-color: transparent;
  border: 3px solid rgb(6, 240, 15);
  border-radius: 5px;
  color: white;
  font-size: 20px;
  margin: 0 5px;
  padding: 8px;
}

.wrong-answer {
  background-color: transparent;
  border: 3px solid red;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  margin: 0 5px;
  padding: 8px;
}
