.button-answer{
  border: 3px solid white;
  border-radius: 5px;
  background-color: black;
  color: white;
  margin: 0 5px;
  font-size: 20px;
  padding: 4px 8px;
}

.correct-answer {
  border: 3px solid rgb(6, 240, 15);
  border-radius: 5px;
  background-color: transparent;
  color: white;
  margin: 0 5px;
  font-size: 20px;
  padding: 4px 8px;
}

.wrong-answer {
  border: 3px solid red;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  margin: 0 5px;
  font-size: 20px;
  padding: 4px 8px;
}